@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Bitter', sans-serif;
}

/* Sign Up Form Styles */

.signup-container{
  width: 100%;
  height: 100vh;
  padding-top: 5% ;
  background: darkslategray;
}
/* 
.login-forms{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: auto;
  height: 90%;
  background-color: rgb(209, 209, 209);
  border-radius: 15px;
/* } */

.login-forms{
  background:  rgb(209, 209, 209);
  height: 60%;
  width: 40%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius:15px;
  color:tomato;
} 



.signup-container h1{
  color:tomato;
  padding-bottom:2%;
  font-size: 3rem;
  font-family: 'Bitter', sans-serif;
}

.sign-up{
  height:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.login-forms input {
  width: 100%;
  background-color: rgb(170, 165, 165);
  border-radius: 5px;
  border-color:  rgb(170, 165, 165);
}


/* Login Form Styles */
.login-page{
  background: darkslategray;
  height: 100vh;
  width: 100%;
  padding-top: 5%;
}

.login-page h1{
  padding-bottom:1%;
  font-size: 3rem;
  font-family: 'Bitter', sans-serif;
  color:tomato;
}


.login-groups{
  display:flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.sign-up input{
  width: 50px 100px;
  background-color:  rgb(170, 165, 165);
  border-radius: 5px;
  border-color:  rgb(170, 165, 165);
}


/* Navigation Styles */

.nav-container Nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-container h1{
  width: 20%;
  font-size: 1.5rem;
}


/*  Edit User */

.editUser-container{
  width: 100%;
  height: 100vh;
  padding-top: 5% ;
  background: darkslategray;
}

.edit-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: auto;
  height: 90%;
  background-color: rgb(209, 209, 209);
  border-radius: 15px;
}
.editUser-container h1{
  color:tomato;
  padding-bottom:1%;
  font-size: 3rem;
  font-family: 'Bitter', sans-serif;
}

.editUser{
  height:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.edit-form input {
  width: 50px 100px;
  background-color: rgb(170, 165, 165);
  border-radius: 5px;
  border-color:  rgb(170, 165, 165);
}

.edit-form{
   background:  rgb(209, 209, 209);
   height: 60%;
   width: 40%;
   margin: 0 auto;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border-radius:15px;
   color:tomato;
}


.editUser input{
  width: 50px 100px;
  background-color:  rgb(170, 165, 165);
  border-radius: 5px;
  border-color:  rgb(170, 165, 165);
}

/* User List  */
.userList{
  height: 100vh;
  width: 80%;
  margin: auto;
  background-color: darkgrey;
}

.user-list{
  background-color: rgb(129, 122, 122);
  /* width: 100%; */
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.user-list2{
  background-color: rgb(165, 196, 165);
  width: 20%;
  height: 20%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-users{
  width: 80%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.search-field input{
  padding: .5rem 1rem;
  border-radius: 10px;
}

.font-title{
  font-size: 1.5rem ;
}

.font-email{
  font-size: 1.3rem;
}

/*  Media Query */
@media only screen and (max-width: 850px){
  .login-forms {
   padding: 1rem;
  }

  .login-forms input{
    margin: auto;
   width: 90%;
  }


  .sign-up{
    padding: 2rem;
  }

  .signup-container h1{
    font-size: 2rem;
  }

  .login-page h1 {
    font-size: 2rem;
  }


  .navbar h1 {
    display: none;
  }

  .navbar .logout{
    display: none;
  }

  /* .links-container{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: red;
  } */
};
